{% extends 'base/main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
  <div>
    <h1>Hello {{request.user|title}}</h1>
    <h3 style="margin: 0;">
      You have <i>{{count}}</i> event{{ count|pluralize:"s" }}
    </h3>
  </div>

  {% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}">Logout</a> {% else %}
  <a href="{% url 'login' %}">Login</a> {% endif %}
</div>

<div id="search-add-wrapper">
  <form method="GET" style="display: flex;">
    <input
      type="text"
      name="search-area"
      placeholder="Search your event"
      value="{{search_input}}"
    />
    <input class="button" type="submit" value="Search" />
  </form>
  {% if events|length > 0 %}
  <a id="add-link" href="{% url 'event-create' %}">&#x2b;</a>
  {% endif %}
</div>

<!-- Hidden form. Form submits new item positions -->
<form
  style="display: none;"
  id="reorderForm"
  method="post"
  action="{% url 'event-reorder' %}"
>
  {% csrf_token %}
  <input type="hidden" id="positionInput" name="position" />
</form>

<div id="eventlist" class="event-items-wrapper">
  {% for event in events %}
  <div class="event-wrapper" data-position="{{event.pk}}">
    <div class="event-title">
      {% if event.complete %}
      <div class="event-complete-icon"></div>
      <i
        ><s><a href="{% url 'event-update' event.id %}">{{event}} - {{event.event_name}} {{event.division}}</a></s></i
      >
      {% else %}
      <div class="event-incomplete-icon"></div>
      <a href="{% url 'event-update' event.id %}">{{event}} - {{event.event_name}} {{event.division}}</a> {% endif %}
    </div>
    <div class="event-controls">
      <a class="delete-link" href="{% url 'event-delete' event.id %}">&#215;</a>
      <span class="handle">&nbsp;&#10247;</span>
    </div>
  </div>

  {% empty %}
  <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
    <h3>No new events are created.</h3>
    <h3>
      Create a
      <a
        style="text-decoration: none; color: #e53935;"
        href="{% url 'event-create' %}"
        >New event</a
      >
      !
    </h3>
  </div>
  {% endfor %}
</div>

<script>
  var eventList = document.getElementById("eventlist");
  var reorderForm = document.getElementById("reorderForm");
  var positionInput = document.getElementById("positionInput");

  let sortable = Sortable.create(eventList, {
    handle: ".handle",
    ghostClass: "dropArea",
    chosenClass: "selectedEvent",
  });

  function reordering() {
    const rows = document.getElementsByClassName("event-wrapper");
    let pos = [];
    for (let row of rows) {
      pos.push(row.dataset.position);
    }
    console.log(pos.join(","));
    positionInput.value = pos.join(",");
    reorderForm.submit();
  }

  document.ondrop = reordering;
</script>

{% endblock content %}
